@font-face {
    font-family: Gotham;
    src: url(fonts/Gotham\ Medium.otf);
}

body{
    background-color: #1DB954;
    font-family: Gotham;
}

.App h1{
    text-align: center;
}

.songParent {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;
}

.song {
    width: 300px;
    flex: 1;

    color: white;
    border-radius: 15px;
    background-color: black;
    text-align: center;

    transition: 0.5s;
}

.song img {
    padding-top: 15px;
}

.song:hover{
    transform: scale(1.1);
}

.wait{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}